<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>nomba</name>
    <displayName>Nomba Payment Gateway</displayName>
    <version>1.0.0</version>
    <description>Accept bank transfers via Nomba. 1-click refunds from Back Office.</description>
    <author>Nomba Integration Team</author>
    <tab>payments_gateways</tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
    <limited_countries></limited_countries>
</module>